@page "/tablequery"
<PageTitle>Shipments Table</PageTitle>
@rendermode InteractiveServer

<!-- additional namespaces-->
@using WestWindSystem.BLL;
@using WestWindSystem.Entities;

<h1>Shipment Query (using scrolling)</h1>
<h4>... non primary key filter search</h4>

@if (feedBackMsg.Length > 0)
{
    <div class="alert alert-info">
        <p>@feedBackMsg</p>
    </div>
}

@if (errorMsgs.Count > 0)
{
    <div class="alert alert-danger">
        <p>Please fix the following issues:</p>
        <ul>
            @foreach (var error in errorMsgs)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

<div class="row">
    <div class="col-md-3">
        <p><strong>Input of query values</strong></p>
        <label for="year">Enter shipment year:</label> &nbsp;&nbsp;
        <input id="year" type="number" @bind="yeararg"
               style="width:75px" />
        <br /><br />
        <label for="month">Enter shipment month:</label> &nbsp;&nbsp;
        <input id="month" type="number" @bind="montharg"
               style="width:75px" />
        <br /><br />
        <button type="submit" @onclick="GetByYearAndMonth"
                class="btn btn-outline-primary rounded-pill">
            Fetch Shipments
        </button>
    </div>
    <div class="col-md-9">
        @if(shipmentList == null)
        {
            <p>Enter desired year and month for search</p>
        }
        else
        {
            <p><strong>Display of query results</strong></p>
            if(shipmentList.Count == 0)
            {
                <p>No data found for year and month arguments in search</p>
            }
            else
            {
                //table
                //to reduce the number of data rows being displayed there are two techniques
                //a) pagination
                //b) scrolling

                //this example uses the quick and easy technique of scrolling
                //Note the table is surrounded by a div tag
                //     on the div tag is 2 parameters
                //      the class causes the scroll (built into bootstrap)
                //      the style specifies the height of the display area

            }
        }
    </div>
</div>

    @code {
    private string feedBackMsg = "";
    private List<string> errorMsgs = new List<string>();

    //input variables for binding
    private int yeararg = 0;
    private int montharg = 1;

    //output variables
    private List<Shipment> shipmentList = null;

    protected override void OnInitialized()
    {
        yeararg = DateTime.Today.Year;
        base.OnInitialized();
    }

    private void GetByYearAndMonth()
    {
        
    }
}
