@page "/dataentry"
<PageTitle>Data Entry</PageTitle>
@rendermode InteractiveServer

<!-- this namespace is needed because we are using classes from the OOPsReview namespace-->
@using OOPsReview;

<h1>Data Entry</h1>
<h4>Employment Data Collection</h4>

@*
    we wish to add a blockquote but center the control on the page
    to do so, we will use bootstrap formating with rows/columns
*@
<div class="row">
    <div class="offset-1 col-md-10">
        <blockquote style="background-color:gainsboro;">
            <p>
                This component will demonstrate how your page can handle validation of data input,
                showing validation messages when you have a number of controls for data entry. This
                component will validate the local controls and create any validation messages for
                invalid data. The messages can be collected using various techniques such as: List or
                Dictionary.
            </p>
            <p>
                This page will input data for an instance of the Employment class. This demo will
                use the Employment class from the OOPs review. The SupervisoryLevel enum
                class will also be brought into this project. One could have included the entire
                class library as part of this solution instead of bringing in individual classes.
            </p>
        </blockquote>
    </div>
</div>

@*
    feedback area
        success message
        error messages
*@

<!--
    Success area
    check if there is a feedback message, if so display it

    also could use: if(feedBackMsg.Length > 0)
-->

@if(!string.IsNullOrWhiteSpace(feedBackMsg))
{
    <div class="alert alert-success">
        <p>@feedBackMsg</p>
    </div>
}

<!--
    Error Message area
    check if there are any error messages, if so display them
-->

@if(errorMsgs.Count > 0)
{
    <div class="alert alert-danger">
        <p>Please fix the following issues</p>
        <ul>
            @foreach (var error in errorMsgs)
            {
                <!--
                    due to the structure of a Dictionary entry
                    there are two components: key and value  (often called key/value pair)
                    Here we wish to just use the value

                    If this was a List collection there is only
                    one component, the string
                    therefore you would NOT need the .Value
                -->
                <li>@error.Value</li>
            }
        </ul>
    </div>
}

<!--
    form area
    standard html controls
    use bootstrap for formating
    each control will be on a separate row
    each row is stack top to bottom
-->
<fieldset>
    <legend>Employment Data</legend>
    <!--
        the structure of a row will contain 2 columns
        1) will contain the label for the data entry
        2) will contain the input control for the data entry

        offset is to skip over n columns in the row
        col-ss-nn is to merge n columns into a single column
    -->
    <div class="row">
        <div class="offset-4 col-md-2">
            <label for="title">Position Title</label>
        </div>
        <div class="col-md-2">
            <input type="text" id="title" placeholder="enter position" @bind="empTitle" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="offset-4 col-md-2">
            <label for="years">Years in Position</label>
        </div>
        <div class="col-md-2">
            <!-- 
                restrict the data type for this control to allow ONLY numbers
                 the step attribute allows the control's spinner to increment by
                        a selected interval, default is 1
            -->
            <input type="number" id="years" placeholder="eg: 3.4"
                        style="width:75px;" @bind="empYears"
                        step="0.1"/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="offset-4 col-md-2">
            <label for="startdate">Start Date</label>
        </div>
        <div class="col-md-2">
            <!-- restrict the data type for this control to allow ONLY dates-->
            <input type="date" id="startdate" @bind="empStartDate" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="offset-4 col-md-2">
            <label for="levelS">SuperVisory Level</label>
        </div>
        <div class="col-md-2">
            <!-- we wish to select from a set of defined choices
                this will limit the user to ONLY acceptable values
            -->
            <select id="levelS" @bind=empLevelS>
                <!-- the user must choice a supervisory level, therefore
                    there is no need for a prompt line on this select
                -->
                <!--
                    there is a line for each item in the Enum
                    you could hard-code each option tag
                    you can also access the Enum definition and
                        extract each enum value (treating the Enum as a collection)
                    the Enum.GetValues(typeof(SupervisoryLevel)) returns an array collection
                -->
                @foreach(var item in Enum.GetValues(typeof(SupervisoryLevel)))
                {
                    //each Enum will consider the value as a string
                    //the value attribute is the value returned when a choice has been made
                    //the string between the opening and closing tag will be displayed to the user
                    <option value="@item">@item</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="offset-4 col-md-2">
            <label for="levelR">SuperVisory Level</label>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-outline-primary rounded-pill"
                    @onclick="OnCollect">
                Submit
            </button>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-secondary rounded-pill"
                    @onclick="OnClear">
                Clear
            </button>
        </div>
    </div>
</fieldset>


@code {
    private string feedBackMsg = "";

    //could be using a List<string> as well as this Dictionary
    //private List<string> errormsgs = new ();

    //the Dictionary has a structure of 2 values: TKey (acts like a primary key)
    //                                            TValue which is the string associated with the key
    //one could search the dictionary on the TKey value and retreive the TValue string
    //NOTE: the TKey value MUST be unique within the entries of the Dictionary
    Dictionary<string, string> errorMsgs = new();

    //Employment input variable declarations
    //EACH @bind needs a associated variable declaration
    private string empTitle;
    private double empYears = 0.0;
    private DateTime empStartDate;
    private SupervisoryLevel empLevelS;

    protected override void OnInitialized()
    {
        // feedBackMsg = "demo of success message";
        // errorMsgs.Add("1", "first error message");
        // errorMsgs.Add("2", "second error message");
        // errorMsgs.Add("3", "third error message");

        empStartDate = DateTime.Today; //initialize the date to today when the page 1st appears
        base.OnInitialized();
    }

    private void OnCollect()
    {
        feedBackMsg = "Inside collect";
    }
    private void OnClear()
    {
        feedBackMsg = "Inside clear";
    }
}
