@page "/report"
<PageTitle>Tabular Report</PageTitle>
@rendermode InteractiveServer

<h1>Employment History</h1>
<h4>using a scrolling Tabular Report</h4>

<div class="row">
    <div class="offset-1 col-md-10">
        <blockquote style="background-color:gainsboro;">
            <p>
                This component will demonstrate how to create a tabular report. The text files
                created on the DataEntry page will be used as input to this page. This page
                will demonstrate file I/O reading. The report table will demonstration table
                scrolling.
            </p>
  
        </blockquote>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(feedBackMsg))
{
    <div class="alert alert-success">
        <p>@feedBackMsg</p>
    </div>
}

@if (errorMsgs.Count > 0)
{
    <div class="alert alert-danger">
        <p>Please fix the following issues</p>
        <ul>
            @foreach (var error in errorMsgs)
            {
                <!--
              
                this is a List collection there is only
                one component, the string
                therefore you would NOT need the .Value
                -->
                <li>@error</li>
            }
        </ul>
    </div>
}

@code {
    private string feedBackMsg = "";

    //could be using a List<string> as well as this Dictionary
    private List<string> errorMsgs = new ();

}
